.changePasswordContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #4f2683;
}

.changePasswordContainer .changePassword{
    text-align: center;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 5px 2px white;
}

.changePasswordContainer .form-control{
    width: 100%;
}

.changePasswordContainer .form-group{
    width: 100%;
}

.changePasswordContainer label{
    float: left;
}

.changePasswordContainer .btn-submit{
    background-color: #4f2683;
    color: white;
}