.departments{
    height: 100vh;
    width: calc(100% - 240px);
    margin-left: 240px;
    background: lightgray;
    font-family: 'Chakra Petch', sans-serif;
    color: #4f2683;
    position: fixed;
}

.dept-container{
    max-width: 500px;
    border: solid black 3px;
    margin: 30px auto;
    padding: 20px;
}

.dept-container select{
    width: 400px;
    padding: 3px;
}

@media screen and (max-width: 650px){
    .dept-container select{
        width: 200px;
    }
}