.forgotPassword{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #4f2683;
}

.forgotPassword .emailForm{
    text-align: center;
    margin: auto;
    width: 1450px;
    box-shadow: 0 0 8px 5px white;
}

.forgotPassword .btn-submit{
    background-color: whitesmoke;
    width: 100%;
}
.forgotPassword h3{
    color: white;
    width: 100%;
}

.forgotPassword .form-group{
    width: 100%;
}