.ForgotPassword {
    width: 100%;
    height: 92vh;
    position: fixed;
    font-family: 'Chakra Petch', sans-serif;
    background-color: #4f2683;
}

.ForgotPasswordCard {
    width: 38rem;
    height: 32rem;
}

.submitBtn {
    width: 150px;
    background-color: #4f2683;
    color: white;
}

.submitBtn:hover{
    background-color: #4f2683;
    opacity: 0.8;
    color: white;
}