.ForgotPassword {
    width: 100vw;
    height: 100vh;
    background-color: #4f2683;
}

.ForgotPasswordCard {
    width: 38rem;
    height: 32rem;
}

.submitBtn {
    width: 150px;
    background-color: #4f2683;
    color: white;
}

.submitBtn:hover{
    background-color: #4f2683;
    opacity: 0.8;
    color: white;
}