.login-Title{
    color: #ffff;
}

.login{
    height: 100vh;
    width: 100%;
    background: lightgray;
    display: flex;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
    position: fixed;
}

.login form{
    margin: 0px auto;
    margin-bottom: 100px;
    width: 500px;
    padding: 20px;
    background-color: #4f2683;
    box-shadow: 0 0 8px 5px rgba(55,55,55,1);
    border-radius: 10px;
    color:whitesmoke;
}

.login .form-group{
    padding: 30px;
}

.login p{
    text-align: right;
    cursor: pointer;
}

.login p:hover{
    text-decoration: underline;
}

.login button{
    width: 100%;
}

.login button:hover{
    box-shadow: none;
    outline: none;
}